include ../static/pug/global
<!DOCTYPE html>
html
  +head('404')
  body
    +header()
    +b.err
      +e.P.sign Oops!
      +e.H1.title
        span 404
        |-ERROR
      +b.A.more(href="/") GO BACK TO HOME
        +e.SVG.i(height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg')
          path(d='M15.5 12.5H.5a.5.5 0 010-1h15a.5.5 0 010 1z')
          path(d='M11.5 16.5a.5.5 0 01-.354-.853L14.793 12l-3.646-3.646a.5.5 0 01.707-.707l4 4a.5.5 0 010 .707l-4 4a.502.502 0 01-.354.146z')
          path(d='M12 23a11.015 11.015 0 01-10.372-7.333.5.5 0 01.943-.333A10.013 10.013 0 0012 22c5.514 0 10-4.486 10-10S17.514 2 12 2a10.01 10.01 0 00-9.428 6.667.5.5 0 01-.943-.333A11.012 11.012 0 0112 1c6.065 0 11 4.935 11 11s-4.935 11-11 11z')
    +b.wine-list
      .swiper-container.inner
        .swiper-wrapper
          +e.item.swiper-slide
            +e.IMG.pic(src='/images/wines-4.png' alt='')
            +e.P.name Banisio Reserva
            +b.A.more(href="#") DISCOVER TASTE
              +e.SVG.i(height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg')
                path(d='M15.5 12.5H.5a.5.5 0 010-1h15a.5.5 0 010 1z')
                path(d='M11.5 16.5a.5.5 0 01-.354-.853L14.793 12l-3.646-3.646a.5.5 0 01.707-.707l4 4a.5.5 0 010 .707l-4 4a.502.502 0 01-.354.146z')
                path(d='M12 23a11.015 11.015 0 01-10.372-7.333.5.5 0 01.943-.333A10.013 10.013 0 0012 22c5.514 0 10-4.486 10-10S17.514 2 12 2a10.01 10.01 0 00-9.428 6.667.5.5 0 01-.943-.333A11.012 11.012 0 0112 1c6.065 0 11 4.935 11 11s-4.935 11-11 11z')
          +e.item.swiper-slide
            +e.IMG.pic(src='/images/wines-5.png' alt='')
            +e.P.name Banisio Red
            +b.A.more(href="#") DISCOVER TASTE
              +e.SVG.i(height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg')
                path(d='M15.5 12.5H.5a.5.5 0 010-1h15a.5.5 0 010 1z')
                path(d='M11.5 16.5a.5.5 0 01-.354-.853L14.793 12l-3.646-3.646a.5.5 0 01.707-.707l4 4a.5.5 0 010 .707l-4 4a.502.502 0 01-.354.146z')
                path(d='M12 23a11.015 11.015 0 01-10.372-7.333.5.5 0 01.943-.333A10.013 10.013 0 0012 22c5.514 0 10-4.486 10-10S17.514 2 12 2a10.01 10.01 0 00-9.428 6.667.5.5 0 01-.943-.333A11.012 11.012 0 0112 1c6.065 0 11 4.935 11 11s-4.935 11-11 11z')
          +e.item.swiper-slide
            +e.IMG.pic(src='/images/wines-3.png' alt='')
            +e.P.name Banisio Crianza
            +b.A.more(href="#") DISCOVER TASTE
              +e.SVG.i(height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg')
                path(d='M15.5 12.5H.5a.5.5 0 010-1h15a.5.5 0 010 1z')
                path(d='M11.5 16.5a.5.5 0 01-.354-.853L14.793 12l-3.646-3.646a.5.5 0 01.707-.707l4 4a.5.5 0 010 .707l-4 4a.502.502 0 01-.354.146z')
                path(d='M12 23a11.015 11.015 0 01-10.372-7.333.5.5 0 01.943-.333A10.013 10.013 0 0012 22c5.514 0 10-4.486 10-10S17.514 2 12 2a10.01 10.01 0 00-9.428 6.667.5.5 0 01-.943-.333A11.012 11.012 0 0112 1c6.065 0 11 4.935 11 11s-4.935 11-11 11z')
    +footer()
    include ../static/pug/_scripts