include ../../../bemto/bemto
include _head

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/vantage/vantage
include ../../modules/wines/wines
include ../../modules/review/review
include ../../modules/about/about
include ../../modules/wine/wine
include ../../modules/text-box/text-box
include ../../modules/footer/footer
