mixin header(state)
  +b.HEADER.header
    +e.inner.inner
      +e.left
        +e.BUTTON.menu
          .burger
        +e.A.logo
          +e.IMG.i(src='/icons/logo-modal.svg' alt='')
        +e.UL.nav
          +e.LI.item
            +e.A.link Our wines
          +e.LI.item
            +e.A.link About Us
          +e.LI.item
            +e.A.link Contacts
      +e.right
        +e.A.call(href="tel:(34) 933 63 18 38")
          +e.SVG.call-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30')
            path(d='M29.2 23.1l-6.1-4c-.8-.5-1.8-.3-2.4.4L19 21.8c-.2.3-.6.4-1 .2l-.3-.2c-1.1-.6-2.5-1.4-5.3-4.2s-3.6-4.2-4.2-5.3l-.1-.3c-.2-.3-.1-.7.2-1l2.3-1.8c.7-.6.9-1.6.4-2.4L6.9.8C6.3 0 5.3-.2 4.5.2L1.9 1.8C1.1 2.2.6 3 .3 3.9-.6 7.2.1 13 8.6 21.4c6.7 6.8 11.8 8.6 15.2 8.6.8 0 1.6-.1 2.3-.3.9-.3 1.7-.8 2.1-1.6l1.5-2.5c.5-.9.3-1.9-.5-2.5zm-.3 1.9l-1.5 2.5c-.3.6-.9 1-1.5 1.2-3.1.8-8.4.1-16.6-8S.4 7.2 1.3 4.2c.2-.7.6-1.2 1.2-1.6L5 1.1c.3-.2.8-.1 1 .2l2.2 3.3L10 7.4c.2.3.2.8-.2 1l-2.3 1.8c-.7.5-.9 1.5-.5 2.2l.2.3c.6 1.2 1.4 2.6 4.3 5.5s4.3 3.7 5.5 4.3l.3.2c.8.4 1.7.2 2.2-.5l1.8-2.3c.2-.3.7-.4 1-.2l6.1 4.1c.6.4.7.9.5 1.2z')
          +e.SPAN.call-text (34) 933 63 18 38
        +e.A.call(href="mailto:info@banisio.com")
          +e.SVG.call-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 21')
            path(d='M28.5.3h-27C.7.3 0 .9 0 1.6v18c0 .8.7 1.4 1.5 1.4h27c.8 0 1.5-.6 1.5-1.4v-18c0-.7-.7-1.4-1.5-1.3zm.5 19.3c0 .2-.2.4-.5.4h-27c-.3 0-.5-.2-.5-.4v-18c0-.2.2-.4.5-.4h27c.3 0 .5.2.5.4v18z')
            path(d='M27.5 2.1c-.1 0-.3 0-.4.1l-11.5 8.7c-.4.3-.9.3-1.3 0L2.8 2.2c-.1-.1-.3-.2-.5-.1s-.4.3-.3.6c0 .1.1.1.1.2l11.5 8.7c.7.6 1.8.6 2.6 0l11.5-8.7c.2-.2.2-.4.1-.6 0-.2-.1-.2-.3-.2zM9.6 11.5c-.2 0-.4 0-.5.1l-7 6.8c-.2.2-.2.5 0 .6.2.2.5.2.7 0l7-6.8c.2-.2.2-.5 0-.6 0 0-.1-.1-.2-.1zM20.9 11.7c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .6l7 6.8c.2.2.5.2.7 0 .2-.2.2-.4 0-.6l-7-6.8z')
            +e.SPAN.call-text info@banisio.com
        +b.lang
          +e.A.link.active(href='#') en
          +e.A.link(href='#') es
          +e.A.link(href='#') ru
  +b.nav
    +e.BUTTON.close
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 496')
        path(d='M248 0C111.033 0 0 111.033 0 248s111.033 248 248 248 248-111.033 248-248C495.841 111.099 384.901.159 248 0zm0 480C119.87 480 16 376.13 16 248S119.87 16 248 16s232 103.87 232 232c-.141 128.072-103.928 231.859-232 232z')
        path(d='M361.136 134.864a8 8 0 00-11.312 0L248 236.688 146.176 134.864a8 8 0 10-11.312 11.312L236.688 248 134.864 349.824a8 8 0 00-.196 11.312 8 8 0 0011.508 0L248 259.312l101.824 101.824a8 8 0 0011.312-.196 8 8 0 000-11.116L259.312 248l101.824-101.824a8 8 0 000-11.312z')
    +e.content
      +e.UL.list
        +e.LI.item
          +e.A.link(href="#") Home
        +e.LI.item
          +e.A.link(href="#") Our Wines
        +e.LI.item
          +e.A.link(href="#") About Us
        +e.LI.item
          +e.A.link(href="#") Contacts
      +e.info
        +e.P.title GET IN TOUCH
        +e.box Paseo de Gracia, 8 — 10, 3 planta 8007 Barcelona, España
        +e.box
          a(href="tel:34933631838") (34) 933 63 18 38
          a(href="mailto:pedro.gomez@banisio.com") pedro.gomez@banisio.com
        +b.social
          +e.A.link(href="#")
            +e.SVG.i(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 288.8 374.8' xml:space='preserve')
              style.
                .st3{fill:#fff}
              path.bg(d='M168 27.6c-8.4-10-16.4-19.2-23.6-27.6-7.2 8.8-15.2 18-23.6 27.6C70 86 0 167.2 0 230.4c-.2 38.3 15.1 75.1 42.4 102 27 27.1 63.7 42.4 102 42.4 38.3.2 75.1-15.1 102-42.4 27.1-27 42.3-63.7 42.4-102 0-63.2-70-144-120.8-202.8z')
              path.st3(d='M144.4 250.2c9.7 0 17.5-7.9 17.5-17.5 0-3.8-1.2-7.3-3.3-10.2-3.2-4.4-8.4-7.3-14.2-7.3-5.8 0-11 2.9-14.2 7.3-2.1 2.9-3.3 6.4-3.3 10.2 0 9.6 7.8 17.5 17.5 17.5zM182.6 211.3v-16.9h-16.9l.1 16.9h16.8z')
              path.st3(d='M144.4 145.2c-48.2 0-87.5 39.2-87.5 87.5 0 48.2 39.2 87.5 87.5 87.5 48.2 0 87.5-39.2 87.5-87.5 0-48.2-39.3-87.5-87.5-87.5zm49.7 77.3v40.7c0 10.6-8.6 19.2-19.2 19.2h-61c-10.6 0-19.2-8.6-19.2-19.2v-61c0-10.6 8.6-19.2 19.2-19.2h61c10.6 0 19.2 8.6 19.2 19.2v20.3z')
              path.st3(d='M171.6 232.7c0 15-12.2 27.2-27.2 27.2s-27.2-12.2-27.2-27.2c0-3.6.7-7.1 2-10.2h-14.9v40.7c0 5.3 4.3 9.5 9.5 9.5h61c5.3 0 9.5-4.3 9.5-9.5v-40.7h-14.9c1.5 3.1 2.2 6.6 2.2 10.2z')
          +e.A.link(href="#")
            +e.SVG.i(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 288.8 374.8' xml:space='preserve')
              style.
                .st1{display:none}.st2{display:inline}.st3{fill:#fff}
              path.bg(d='M168 27.6c-8.4-10-16.4-19.2-23.6-27.6-7.2 8.8-15.2 18-23.6 27.6C70 86 0 167.2 0 230.4c-.2 38.3 15.1 75.1 42.4 102 27 27.1 63.7 42.4 102 42.4 38.3.2 75.1-15.1 102-42.4 27.1-27 42.3-63.7 42.4-102 0-63.2-70-144-120.8-202.8z' )
              g.st1
                g.st2
                  path.st3(d='M144.4 145.2c-48.3 0-87.5 39.3-87.5 87.5 0 48.3 39.3 87.5 87.5 87.5 48.3 0 87.5-39.3 87.5-87.5 0-48.3-39.2-87.5-87.5-87.5zm21.8 90.6H152v50.8h-21.1v-50.8h-10v-17.9h10v-11.6c0-8.3 3.9-21.3 21.3-21.3l15.6.1v17.4h-11.3c-1.8 0-4.5.9-4.5 4.9v10.5h16l-1.8 17.9z')
              g.st1
                g.st2
                  path.st3(d='M144.4 250.2c9.7 0 17.5-7.9 17.5-17.5 0-3.8-1.2-7.3-3.3-10.2-3.2-4.4-8.4-7.3-14.2-7.3-5.8 0-11 2.9-14.2 7.3-2.1 2.9-3.3 6.4-3.3 10.2 0 9.6 7.8 17.5 17.5 17.5zM182.6 211.3v-16.9h-16.9l.1 16.9h16.8z')
                  path.st3(d='M144.4 145.2c-48.2 0-87.5 39.2-87.5 87.5 0 48.2 39.2 87.5 87.5 87.5 48.2 0 87.5-39.2 87.5-87.5 0-48.2-39.3-87.5-87.5-87.5zm49.7 77.3v40.7c0 10.6-8.6 19.2-19.2 19.2h-61c-10.6 0-19.2-8.6-19.2-19.2v-61c0-10.6 8.6-19.2 19.2-19.2h61c10.6 0 19.2 8.6 19.2 19.2v20.3z')
                  path.st3(d='M171.6 232.7c0 15-12.2 27.2-27.2 27.2s-27.2-12.2-27.2-27.2c0-3.6.7-7.1 2-10.2h-14.9v40.7c0 5.3 4.3 9.5 9.5 9.5h61c5.3 0 9.5-4.3 9.5-9.5v-40.7h-14.9c1.5 3.1 2.2 6.6 2.2 10.2z')
              path.st3(d='M160.3 220.3c-7.5 0-10.8 4.1-12.7 7v-6h-14.1c.2 4 0 42.4 0 42.4h14.1V240c0-1.3.1-2.5.5-3.4 1-2.5 3.3-5.2 7.2-5.2 5.1 0 7.1 3.9 7.1 9.6v22.7h14.1v-24.3c.1-13.1-6.9-19.1-16.2-19.1zm-12.7 7.1c-.1 0 0-.1 0-.1v.1zM111.6 221.3h14.1v42.4h-14.1v-42.4z')
              path.st3(d='M144.4 145.2c-48.2 0-87.5 39.2-87.5 87.5 0 48.2 39.2 87.5 87.5 87.5 48.2 0 87.5-39.2 87.5-87.5 0-48.2-39.3-87.5-87.5-87.5zm46.4 127.1c0 3.7-3.1 6.7-6.9 6.7h-79.6c-3.8 0-6.9-3-6.9-6.7v-80.5c0-3.7 3.1-6.7 6.9-6.7h79.6c3.8 0 6.9 3 6.9 6.7v80.5z')
              path.st3(d='M118.8 200.8c-4.8 0-8 3.2-8 7.3s3.1 7.3 7.8 7.3h.1c4.9 0 8-3.3 8-7.3-.1-4.1-3.1-7.3-7.9-7.3z')
          +e.A.link(href="#")
            +e.SVG.i(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 288.8 374.8')
              path.bg(d='M168 27.6c-8.4-10-16.4-19.2-23.6-27.6-7.2 8.8-15.2 18-23.6 27.6C70 85.96 0 167.2 0 230.4a142.26 142.26 0 0042.4 102 143.88 143.88 0 00102 42.4 142.26 142.26 0 00102-42.4 144.59 144.59 0 0042.4-102c0-63.2-70-144-120.8-202.8z' )
              path(d='M144.4 145.13a87.52 87.52 0 1087.52 87.51 87.62 87.62 0 00-87.52-87.51zm21.77 90.6h-14.24v50.75h-21.1v-50.75h-10v-17.94h10v-11.6c0-8.31 3.95-21.3 21.29-21.3l15.64.06v17.42h-11.35c-1.85 0-4.48.92-4.48 4.88v10.54H168z' fill='#fff')